{% extends "base.html" %}
{% block title %}ECG app{% endblock %}
{% block content %}

<div class="jumbotron" lang="en">
    <div class="container">

            <div class="text-center">

                <h1 class="display-4">Automatic ECG interpretation</h1>
                <p class="lead">This application can be used to interpret 12 lead ECGs</p>
                <hr class="my-4">
                <p>You can upload .mat files (make sure it is 12-lead ECGs) from Physionet and we will analyse them using a Deep Learning model </p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://physionet.org/" role="button">Find data</a>
                </p>
            </div>

    </div>
</div>
<form method="post" action="/" enctype="multipart/form-data" lang="en">
    <div class="container">
        <div class="text-center">
            <div class="file-field">
                <div class="btn btn-pink btn-rounded btn-sm float-left">
                    <input type="file" name="file" autocomplete="off" required placeholder="Upload your file">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<br>
<div class="container">
    <div class="p-3 mb-2 bg-dark text-white">{{ prediction_text }}</div>
</div>
<br>
<br>
<br>
<div class="container">
<div class="row justify-content-around">
    <div class="col-3 bg-success rounded">
        <br>
        <p class="h3">Normal ECG Findings</p>
        <ul>
            <li style="font-size:14px">Increased QRS-voltage for LVH or RVH</li>
            <li style="font-size:14px">Incomplete RBBB</li>
            <li style="font-size:14px">Early repolarization/ST segment elevation</li>
            <li style="font-size:14px">ST elevation followed by T-wave inversion V1-V4 in black athletes</li>
            <li style="font-size:14px">T wave inversion V1-V3 under/over(?) age 16 years old</li>
            <li style="font-size:14px">Sinus bradycardia or arrythmia</li>
            <li style="font-size:14px">Ectopic atrial or junctional rythm</li>
            <li style="font-size:14px">1 deg AV block</li>
            <li style="font-size:14px">Mobitz Type I 2deg AV block</li>
        </ul>
        <br>
    </div>
    <div class="col-3 bg-warning rounded">
        <br>
        <p class="h3">Borderline ECG Findings</p>
        <ul>
            <li style="font-size:14px">Left axis deviation</li>
            <li style="font-size:14px">Left atrial enlargement</li>
            <li style="font-size:14px">Right axis deviation</li>
            <li style="font-size:14px">Right atrial enlargement</li>
            <li style="font-size:14px">Complete RBBB</li>
        </ul>
        <br>
      </div>
    <div class="col-3 bg-danger rounded">
        <br>
        <p class="h3">Normal ECG Findings</p>
        <ul>
            <li style="font-size:14px">T wave inversion</li>
            <li style="font-size:14px">ST segment depression</li>
            <li style="font-size:14px">Pathologic Q waves</li>
            <li style="font-size:14px">Complete LBBB</li>
            <li style="font-size:14px">QRS greater than 140 ms duration</li>
            <li style="font-size:14px">Epsilon wave</li>
            <li style="font-size:14px">Ventricular pre-excitation</li>
            <li style="font-size:14px">1Prolonged QT interval</li>
            <li style="font-size:14px">Profound sinus bradycardia (under 30 bpm)</li>
            <li style="font-size:14px">PR interval greater than 400 ms</li>
            <li style="font-size:14px">Mobitz type II 2 deg AV block</li>
            <li style="font-size:14px">3 deg AV block</li>
            <li style="font-size:14px">more than 2 PVCs</li>
            <li style="font-size:14px">Atrial tachyarryhythmias</li>
            <li style="font-size:14px">Ventricular arryhythmias</li>
        </ul>
        <br>
    </div>
  </div>
</div>
<div class="jumbotron" lang="en">
    <div class="container">

            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8080/dash" role="button">Go to plot</a>
                </p>
            </div>

    </div>
</div>
    
{% endblock %}


