{% extends "base.html" %}
{% block title %}ECG app{% endblock %}
{% block content %}

<div class="jumbotron" lang="en">
    <div class="container">

            <div class="text-center">

                <h1 class="display-4">Automatic ECG interpretation</h1>
                <p class="lead">This application can be used to interpret 12 lead ECGs</p>
                <hr class="my-4">
                <p>You can upload .mat files (make sure it is 12-lead ECGs) from Physionet and we will analyse them using a Deep Learning model </p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://physionet.org/" role="button">Find data</a>
                </p>
            </div>

    </div>
</div>
<form method="post" action="/" enctype="multipart/form-data" lang="en">
    <div class="container">
        <div class="text-center">
            <div class="file-field">
                <div class="btn btn-pink btn-rounded btn-sm float-left">
                    <input type="file" name="file" autocomplete="off" required placeholder="Upload your file">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<br>
<br>
<div class="container">
    <div class="p-3 mb-2 bg-dark text-white">{{ prediction_text }}</div>
</div>
<br>
<br>
<br>
<div class="jumbotron" lang="en">
    <div class="container">

            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="https://ecgtestapp.herokuapp.com/dash" role="button">Go to plot</a>
                </p>
            </div>

    </div>
</div>
    
{% endblock %}


